{{ define "main" }}

    <!-- funfacts -->
    {{ if .Params.facts.enable }}
    {{ with .Params.facts }}
    <section class="section-sm bg-primary">
      <div class="container">
        <div class="row">
          <!-- funfacts item -->
          {{ range .fact_item }}
          <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
            <div class="text-center">
              <h2 class="count text-white" data-count="{{ .count }}">0</h2>
              <h5 class="text-white">{{ .name }}</h5>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}
    {{ end }}
    <!-- /funfacts -->
<!-- blog details -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      {{ if isset .Params "categories" }}
      <div class="col-lg-8 order-1 order-lg-1">
        <div class="row">
          <div class="col-12 mb-4">
            {{ partial "image.html" . }}
          </div>
          <div class="col-12">
            <ul class="list-inline">
              <span class="font-weight-bold mr-2">{{ i18n "posted_by" }}
                :</span>
            {{ partial "authors.html" . }}

              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "date" }}
                  :</span>{{ .PublishDate.Format "02 Jan, 2006" }}</li>

              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "category" }}
                  :</span>{{ range $index, $elements:= .Params.Categories }}<a
                  href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
                  {{ . | title }}</a> {{ end}}</li>

            </ul>
          </div>
          <!-- border -->
          <div class="col-12 my-4">
            <div class="border-bottom"></div>
          </div>
          <!-- blog contect -->
          <div class="col-12 mb-5 content">
            {{ .Content }}
          </div>
          <!-- comments -->
          {{ if site.DisqusShortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
      {{ else }}
      <div class="col-12 content">
        {{ .Content }}
      </div>
      {{ end }}
    </div>
    {{ if isset .Params "related_tag" }}
    <div class="row">
      <div class="col-12">
        {{ .Scratch.Set "mySection" "blog" }}
        {{ partial "tag-sections.html" . }}

        {{ .Scratch.Set "mySection" "media_statements" }}
        {{ partial "tag-sections.html" . }}

        {{ .Scratch.Set "mySection" "publications" }}
        {{ partial "tag-sections.html" . }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
<!-- /blog details -->

{{ end }}
