body {
    background-color: #faf7f3;
    font-family: "Poppins", sans-serif;
}

section {
    padding: 80px 0 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #b43034;
}

a {
    color: #822c88;
    text-decoration: none;
}

header {
    background: #000000;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.language-select {
    background-color: #b43034;
    color: #fff;
}

.top-bar {
    padding: 3px 0;
    background: #ffffff;
    border-bottom: 0px;
    line-height: 28px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
background: linear-gradient(to right, transparent 20%, #bf1e2e 10%);
transition: .2s ease;    
    padding: 5px 0;
}

.navbar-header {
    padding-left: 20px;
}

.navbar-brand {
    padding-left:20px;
}


.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #ffffff;
    line-height: 24px;
    display: inline-block;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #b43034;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #b43034;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: #b43034;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #b43034;
    color: #fff;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background: #000000;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #b43034;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}

.btn-primary {
    background: #b43034;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
}

.btn-primary::before {
    background: #ffffff;
}

.btn-primary:active {
    background: #bf1e2e !important;
    color: #b43034;
}

.btn-primary:active::before {
    height: 80%;
}

.btn-primary:hover {
    background: #931723;
    color: #b43034;
}

.btn-primary.active:not(:disabled):not(.disabled),
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #931723;
    border-color: #931723;
}

.btn-secondary {
    background: #ffffff;
    color: #b43034;
    border: 1px solid #ffffff;
}

.btn-secondary::before {
    background: #b43034;
}

.btn-secondary:active {
    background: #b43034;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.btn-secondary:hover {
    background: #ffffff;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.btn-primary-outline {
    border: 1px solid #b43034;
    color: #b43034;
    background: transparent;
}

.btn-primary-outline::before {
    background: #ffffff;
}

.btn-primary-outline:hover {
    background: #b43034;
    color: #b43034;
}

.btn-primary-outline:active {
    background: #b43034;
    color: #ffffff;
}


.white-text {
    color: #faf7f3;
}


.page-title-section {
    background-color: #000;
}