{{ define "main" }}

<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
      <!-- event image -->
      <div class="col-12 mb-4">
        {{ partial "image.html" . }}
      </div>
    </div>
    <!-- event info -->
    <div class="row align-items-center mb-5">
      <div class="col-lg-9">
        <ul class="list-inline">
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              <i class="ti-calendar text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">{{ i18n "date" | upper}}</h6>
                <p class="mb-0">{{ .Date.Format "02 Jan, 2006"}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      {{ if not (or (eq .Params.source_url "#") (eq .Params.source_url "")) }}
      <div class="col-lg-3 text-lg-right text-left">
        <a href="{{ .Params.source_url | safeURL }}" class="btn btn-primary">{{ i18n "source" }}</a>
      </div>
      {{ end }}
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- event details -->
    <div class="row">
      <div class="col-12 mb-50 content">
        {{ .Content }}
      </div>
    </div>
    <!-- states -->
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">{{ i18n "authors"}}</h3>
      </div>
      <!-- state -->
      {{ range .Params.publishers }}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="media">
         {{ with .image }}<img class="mr-3 img-fluid" src="{{ . | relURL }}" alt="state member">{{ end }}
          <div class="media-body">
            <h4 class="mt-0">{{ .name }}</h4>
            {{ .designation }}
          </div>
        </div>
      </div>
      {{ end }}
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
  </div>
</section>
<!-- /event single -->


{{ end }}
