{{ range $auth := .Params.authors }}
{{ with $.Site.GetPage ( printf "team/%s" (path.Base $auth)) }}
<li class="list-inline-item mr-3 ml-0">
  <i class="ti-user"></i>
  <a href="{{ .Permalink }}">
    {{ .LinkTitle }}
  </a>
</li>
{{ end }}
{{ end }}
