<!-- footer -->
<footer>
  <!-- newsletter -->
  {{ if site.Params.subscription.enable }}
  {{ with site.Params.subscription }}
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white">{{ i18n "subscribe_newsletter" }}</h3>
          <form action="{{ .mailchimp_form_action }}" method="post" target="_blank">
          <input type="hidden" name="u" value="{{ .mailchimp_form_name }}">
            <input type="hidden" name="id" value="{{ .mailchimp_form_id }}">
            <div class="input-wrapper">
                <input type="email" class="form-control border-0" autocapitalize="off" autocorrect="off"
                name="MERGE0" id="MERGE0" value="" placeholder="{{ i18n "enter_email" }}">
              <button type="submit" name="subscribe" class="btn btn-primary">{{ i18n "join" }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <!-- logo -->
          <a clacs="logo-footer" href="{{ site.BaseURL | relLangURL }}"><img class="img-fluid mb-4"
              src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" width="110"></a>
          <ul class="list-unstyled">
            <li class="mb-4 text-white">{{ site.Params.address | markdownify }}</li>
            <li class="mb-4 text-white">{{ site.Params.email | markdownify }}</li>
            <li class="mb-4 text-white"><a href="tel:{{ site.Params.mobile | markdownify }}">{{ site.Params.mobile | markdownify }}</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "media statements" }}</h4>
          <ul class="list-unstyled">
            {{ range first 5 (where site.RegularPages "Type" "media_statements")}}
            <li class="mb-3"><a class="" href="{{ .Permalink }}">{{ .Title | truncate 40 }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "publications" }}</h4>
          <ul class="list-unstyled">
            {{ range first 5 (where site.RegularPages "Type" "publications")}}
            <li class="mb-3"><a class="" href="{{ .Permalink }}">{{ .Title | truncate 40 }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0">
          DEVELOPED WITH  &hearts; BY
          <a href="https://itcracy.com" target="_blank">ITCRACY</a>
          &copy; <script>
            document.write(new Date().getFullYear()+" ");
          </script>
          WPC, ALL RIGHTS RESERVED
          </p>
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i
                  class="{{ .icon }} "></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
