{{ if and (ge (len (trim .Params.Image " ")) 1) (fileExists (printf "assets/%s" .Params.Image)) }}
{{ $src := resources.Get .Params.Image }}
{{ if $src }}

{{ $tinyw := default "500x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1200x" }}

{{/* resize the src image to the given sizes */}}

{{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
{{ .Scratch.Set "small" ($src.Resize $smallw) }}
{{ .Scratch.Set "medium" ($src.Resize $mediumw) }}

{{/* add the processed images to the scratch */}}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}

{{/* only use images smaller than or equal to the src (original) image size */}}
<img class="w-100 mh-100"
  sizes="(min-width: 35em) 720px, 100vw"
  srcset='
  {{ if ge $src.Width "500" }}
    {{ with $tiny.RelPermalink }}{{.}} 500w{{ end }}
  {{ end }}
  {{ if ge $src.Width "800" }}
    {{ with $small.RelPermalink }}, {{.}} 800w{{ end }}
  {{ end }}
  {{ if ge $src.Width "1200" }}
    {{ with $medium.RelPermalink }}, {{.}} 1200w{{ end }}
  {{ end }}'
  src="{{ $src.RelPermalink }}"
  alt="{{ .Params.title }}">
{{ else }}
<p>Image not found</p>
{{ end }}
{{ else }}
<p>Image not found</p>
{{ end }}
