{{ if and (ge (len (trim .Params.Bg_image " ")) 1) (fileExists (printf "assets/%s" .Params.Bg_image)) }}
{{ $src := resources.Get .Params.Bg_image }}
{{ if $src }}

{{ $tinyw := default "500x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1200x" }}

{{/* resize the src image to the given sizes */}}

{{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
{{ .Scratch.Set "small" ($src.Resize $smallw) }}
{{ .Scratch.Set "medium" ($src.Resize $mediumw) }}

{{/* add the processed images to the scratch */}}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('
  {{- if ge $src.Width "1200" }}
    {{- with $medium.RelPermalink -}} {{.}} {{ end }}
  {{- else if ge $src.Width "800" }}
    {{- with $small.RelPermalink -}} {{.}} {{ end }}
  {{- else }}
    {{- with $tiny.RelPermalink -}} {{.}} {{ end -}}
  {{- end -}}'),{{ else }}
<section class="page-title-section overlay" style="background-image:
{{ end }}
{{ else }}
<section class="page-title-section overlay" style="background-image:
{{ end }}url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item h2"><a class="text-primary font-secondary" href="{{ .Page.Parent.Permalink }}"> {{if eq .Page.Parent.Title "Working Peoples Charter" }} Home {{ else }} {{ .Page.Parent.Title }} {{ end }}</a></li>
          <li class="list-inline-item h5"><i class="ti-angle-right text-white"></i></li>
          <li class="list-inline-item text-white h3 font-secondary">{{ .Title }}</li>
        </ul>
        <div class="white-text">{{ .Params.Description | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
