{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="row">
          {{ range .Paginator.Pages }}
          <div class="col-md-6 mb-5">
				    {{ .Render "post" }}
          </div>
          {{ end }}
          <div class="col-12 mt-4">
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}
